*.log
*.aux
*.bak
*.bbl
*.blg
*.hd
*.out
*.ptb
lagda/
latex/
latex-before-sed/
latex-before-sed/*.tex
lagda/
.emacsBackup/
latex/*.tex
agda/.emacsBackup/
agda/*.agdai
exampleLatex1_aux
main_aux
agda/_build/
mainLatexFiles/.emacsBackup/
mainLatexFiles/exampleMainLatexFile1_aux