*.agdai
*.aux
*.bak
*.bbl
*.blg
*.hd
*.log
*.out
*.ptb
*_aux
.emacsBackup/
_agdaLatex-before-sed/
_agdaLatex/
_build/
_lagda/
mainLatexFiles/exampleMainLatexFile1.pdf
mainLatexFiles/exampleMainLatexFile1x.pdf
mainLatexFiles/exampleMainLatexFile2.pdf
mainLatexFiles/exampleMainLatexFile2x.pdf
