*.log
*.aux
*.bak
*.bbl
*.blg
*.hd
*.out
*.ptb
lagda/
latex/
latex-before-sed/
latex-before-sed/*.tex
lagda/
.emacsBackup/
latex/*.tex
agda/.emacsBackup/
agda/*.agdai
exampleLatex1_aux
main_aux
agda/_build/
mainLatexFiles/.emacsBackup/
mainLatexFiles/exampleMainLatexFile1_aux
mainLatexFiles/exampleMainLatexFile1.pdf
mainLatexFiles/exampleMainLatexFile1x.pdf
mainLatexFiles/exampleMainLatexFile2.pdf
mainLatexFiles/exampleMainLatexFile2_aux
mainLatexFiles/exampleMainLatexFile2x.pdf
